/* IMPORTAÇÕES FONTES */
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;700&family=Bebas+Neue&family=Montserrat:wght@400;600&family=Poppins:wght@400;500;700&display=swap');

/* VARIÁVEIS */
:root {
    --cor-fundo: #fff;
    --cor-texto: #000;
    --cor-btn-topo: #004EC4;
    --cor-btn-compra-cartao: #003789;
}

/* BODY */
body {
    background-color: var(--cor-fundo);
}

/* RESET GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    background-image: url(../assets/images/header/foto-banner-topo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 16 / 9;
}

@media (max-width: 1728px) {
    .header {
        width: 100%;
    }
}

.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo {
    margin-top: 30px;
}

.input-box {
    position: relative;
    margin-top: 30px;
}

.input-box input {
    width: 240px;
    height: 35px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(4.8px);
    color: #fff;
    outline: none;
    padding: 0 40px;
    font-size: 16px;
    margin-left: 60px;
    margin-right: 60px;
}

.input-box i {
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 27px;
    color: #707984;
}

.nav-header {
    margin-top: 30px;
}

.nav-header ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.links-header {
    text-decoration: none;
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    margin-right: 30px;
    display: inline-block;
    transition: transform .3s ease-out;
}

.links-header:hover {
    transform: scale(1.2);
}

.icones-header {
    text-decoration: none;
    font-size: 25px;
    color: #fff;
}

.dropdown .links-dropdown {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--cor-texto);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color .3s ease;
}

.dropdown .links-dropdown:hover {
    background-color: #c7c7c763;
}

.dropdown .caixa-dropdown {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 180px;
    padding: 15px 0;
}

.caixa-dropdown p { 
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.caixa-dropdown i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #fff;
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
}

.dropdown:hover .caixa-dropdown {
    display: block;
} /* FIM HEADER*/

/* EMBAIXO DO HEADER */
#texto-topo {
    width: 669px;
    height: 465px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#texto-topo h1 {
    width: 617px;
    height: 183px;
    text-align: center;
    text-shadow: 0 10px 15px rgba(5, 13, 29, 0.18);
    font-family: Alexandria;
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(198deg, #FFF 39.48%, #004EC4 91.56%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#texto-topo p {
    width:565px;
    color: #FFF;
    text-shadow: 1px 1px 3px #000;
    font-family: Alexandria;
    font-size: 20px;
    font-weight: 400;
    margin: 35px 0;
    margin-left: 50px;
}

#texto-topo .botao-1 {
    width: 130px;
    height: 35px;
    background: var(--cor-btn-topo);
    box-shadow: -2px 2px 250px 20px #004EC4;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    margin-left: 145px;
    margin-right: 15px;
    cursor: pointer;
}

#texto-topo .botao-2 {
    width: 130px;
    height: 35px;
    background: transparent;
    color: var(--cor-btn-topo);
    border: 2px solid var(--cor-btn-topo);
    border-radius: 15px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
}

#texto-topo .botao-2:hover {
    color: #fff;
    background-color: var(--cor-btn-topo);
}

#container-banner-topo {
    position: relative; 
    bottom: 180px; 
    left: 50%; 
    transform: translateX(-50%); 
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 715px;
    height: 115px;
    padding: 0 60px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 12px;
}

.textos {
    display: flex;
    flex-direction: column;
}

#container-banner-topo .left .p1-left {
    color: #003789;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
}

#container-banner-topo .left .p2-left {
    color: #003789;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
}

#container-banner-topo .left, .right i {
    color: #003789;
    font-size: 40px;
}

#container-banner-topo .right .p1-right {
    color: #003789;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
}

#container-banner-topo .right .p2-right {
    color: #003789;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
} /* FIM EMBAIXO HEADER*/

/* MARCAS */
#container-marcas {
    margin-top: 130px;
    margin-left: 80px;
    margin-bottom: 100px;
}

#container-marcas h2 {
    color: #000;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 56px;
}

.titulo-marcas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;
    margin-right: 80px;
}

.titulo-marcas #setas-marcas {
    display: flex;
    gap: 12px;
}

.titulo-marcas #setas-marcas button {
    background: none;
    border: none;
    cursor: pointer;
}

.titulo-marcas #setas-marcas img {
    width: 45px;
    height: 45px;
}

#cards-marcas {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

#cards-marcas div {
    width: 300px;
    height: 145px;
    border-radius: 18px;
    background: #EEE;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
} /* FIM MARCAS*/

/* MAIS VENDIDOS */
#container-vendidos {
    margin-top: 130px;
    margin-left: 80px;
    margin-bottom: 100px;
}

.titulo-vendidos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;
    margin-right: 80px;
}

#container-vendidos h2 {
    color: #000;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 56px;
}

#container-vendidos .setas-vendidos {
    display: flex;
    gap: 12px;
}

#container-vendidos .setas-vendidos button {
    background: none;
    border: none;
    cursor: pointer;
}

#container-vendidos .setas-vendidos img {
    width: 45px;
    height: 45px;
}

.cards-vendidos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
}

@media (max-width: 1440px) {
    .cards-vendidos {
        grid-template-columns: repeat(3, 1fr);
    }
}

btn-comprar {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 20px;
  height: 40px;
  min-width: 145px;
  background: #000;
  color: #fff;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.btn-comprar i {
  font-size: 20px;
  color: #fff;
}

.cards-vendidos .coracao-icone {
    position: absolute;
    color: #000;
    top: 20px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
}

.cards-vendidos i {
    position: static;
}

.cards-vendidos article {
    width: 350px;
    height: 550px;
    border-radius: 18px;
    box-shadow: 0 10px 15px 0 rgba(5, 13, 29, 0.18);
    padding: 10px;
    position: relative;
    text-align: center;
    transition: transform .3s ease-in-out;
}

.cards-vendidos article:hover {
    box-shadow: 0 20px 30px 0 rgba(5, 13, 29, 0.226);
    transform: translate(10px,-10px)
}

.cards-vendidos button {
    width: 250px;
    height: 35px;
    border: none;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    position: relative;
    z-index: 1;
}

.btn-comprar-air {
    margin-top: 38px;
}

.btn-wrap {
    display: block;
    position: absolute;
}

.btn-wrap::after {
    content: "";
    position: absolute;
    display: block;
    background-color: #fff;
    border: 2px solid black;
    width:250px;
    height: 35px;
    top: 45px;
    left: 6px;
    z-index: 0;
    transition: all 0.2s ease;
}

.btn-wrap:hover::after {
    border-color: rgb(121, 120, 120);
}

.cards-vendidos a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.cards-vendidos p {
    display: flex;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 20px;
}


.card1 {
    background: linear-gradient(0deg, #FFF 38.38%, #8BCEDB 83.19%);
}

.card2 {
    background: linear-gradient(358deg, #FFF 33.21%, #C1C4C9 87.17%);
}

.card3 {
    background: linear-gradient(0deg, #FFF 38.38%, #E6815C 83.19%);
}

.card4 {
    background: linear-gradient(358deg, #F2F2F2 33.21%, #EBE9E9 87.17%);
}

.card1 img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
}

.card2 img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 360px;
}

.card3 img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
}

.card4 img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
} /* FIM MAIS VENDIDOS*/

/* CATEGORIAS EM DESTAQUE */

.titulo-categorias {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 80px;
    margin-bottom: 56px;
}

#container-categorias h2 {
    color: #000;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 56px;
}

#container-categorias {
    margin-top: 100px;
    margin-left: 80px;
    
}

.cards-categorias {
    display: grid;
    grid-template-columns: repeat(4, auto);
    font-family: Alexandria;
    color: #000;
    font-size: 15px;
    text-align: center;
}

.cards-categorias  div {
    display: flex;
    width: 230px;
    height: 230px;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

#seta-categorias {
    display: flex;
    gap: 12px;
}

#seta-categorias button {
    background: none;
    border: none;
    cursor: pointer;
}

#seta-categorias img {
    width: 45px;
    height: 45px;
    
} /* FIM CATEGORIAS EM DESTAQUE*/

/* FOOTER */
footer {
    background-image: url(../assets/images/footer/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 140px 0;
    position: relative;
}

footer h3 {
    display: flex;
    color: #fff;
    font-size: 50px;
    font-family: Alexandria;
    transform: translateY(115px);
    margin-right: 950px;
    margin-bottom: 40px;
}

#nav-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-bottom: 40px;
}

#nav-footer ul {
    list-style: none;
}

#nav-footer a {
    text-decoration: none;
    color: #fff;
    font-family: Alexandria;
    font-size: 12px;
    font-weight: 600;
}

#nav-footer li {
    margin-bottom: 8px;
}

footer p {
    color: #C7C7C7;
    font-family: Alexandria;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}


#banner-main img {
    width: 100%;
} /* FIM FOOTER */
